{{ include('header.twig' )}}

<form action="" method="GET">
	<input type="text" name="search">
	<button>rechercher</button>
</form>

<ul>
{% for customer in customers %}
	<li>{{ customer.customerName }}</li>
{% endfor %}
</ul>
</body>
</html>